.app {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  margin: 1rem;
}

input {
  border: 1px solid red;
  font: 1.2rem;
  outline: none;
  padding: 5px;
}

.add {
  border: 1px solid red;
  background-color: transparent;
  padding: 5px;
}
